<% @page_title = "Article - New" %>
<%= render 'application/nav'%>
<%= render 'articles/header'%>
    <p>Setup your Blog</p>
  </div>
</div>
<div class="col-sm-12">
	<div class="container">
		<%= render 'form' %>
	</div>
</div>