 <div class="jumbotron" style=" background-image: url('/assets/header_img.jpg');margin-top:25px; ">
  <div class="container" style="color:white;">
    <div class="row">
      <div class="col-sm-10">
         
      </div>
      <div class="col-sm-2">
        <p style="float:right;">
        
        </p>
      </div>
    </div>
    <h1>StageSpace</h1> 