<%= javascript_include_tag "application" %>
<%= render 'application/nav'%>
<%= render 'articles/header'%>
    <p>Welcome</p>
  </div>
</div>
<div class="col-sm-12">
  <div class="container">
  	<%= link_to 'My Blog', controller: 'articles' %>
  </div>
 </div>